.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.link {
  text-decoration: none;
  font-size: 24px;
  color: black;
}

.link:active {
  background-color: #3B4CCA;
  color: #FFDE00;
  border-radius: 50%;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 150px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.card {
  background-color: #FFDE00;
  text-align: justify;
  border-radius: 25%;
  width: 200px;
  height: 150px;
}